
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #704214; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(fondconnexion.webp);
    background-size: cover;
    flex-direction: column;
}

section {
    background-color: rgba(0, 0, 0, 0.6); 
    border: 2px solid rgba(255, 200, 150, 0.5); 
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 420px;
    border-radius: 20px;
}

section h1 {
    font-size: 30px;
    text-align: center;
    color: #FFC98B; 
    margin-bottom: 20px;
}

.inputbox {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.inputbox input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 200, 150, 0.5); 
    color: #FFC98B; 
    padding-right: 40px;
}

.inputbox input::placeholder {
    color: #FFD8A8; 
}

.inputbox i {
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 50%;
    color: #FFD8A8;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #FFD8A8;
    margin-bottom: 25px;
}

.remember-forgot a, .register-link a {
    color: #FFA54F; 
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.remember-forgot a:hover, .register-link a:hover {
    text-decoration: underline;
    color: #FFC98B;
}

.login-btn {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: #E8871E; 
    color: white;
    border: 2px solid transparent;
    transition: 0.5s;
}

.login-btn:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 200, 150, 0.5);
    color: #FFC98B;
}

.register-link {
    text-align: center;
    margin-top: 25px;
    color: #FFD8A8;
    font-size: 14px;
}

.btn1 {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    color: white;
    background: #8D6E63;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn1:hover {
    background: #6D4C41;
}
