body, html {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive;
    height: 100%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
  }
/* Styles pour la table */

.tableinscription {
    border: 3px solid black;  /* Bordure de 3px */
    background-color: lightblue; /* Couleur de fond */
    margin: 20px auto; /* Centrage horizontal */
    border-collapse: collapse; /* Fusion des bordures */
  }
  
  /* Ajout d'un style aux cellules */
  .tableinscription td {
    padding: 10px; /* Espacement intérieur */
    border: 1px solid black; /* Bordures internes */
  }
  
  /* Centrage du texte dans les titres */
  .tableinscription td[colspan="2"] {
    text-align: center;
    font-weight: bold;
  }